.RData
.Rhistory
.Rproj.user/
*.Rproj


.quarto/
*/_cache/
*/_freeze/
*_files/


data/
**/*.csv
**/*.tsv
**/*.xlsx
**/*.json
**/*.rds
**/*.zip
**/*.pdf



.DS_Store
**/gganim*


/Labs and Preassignments/
