
.RData
.Rhistory
.Rproj.user/
*.Rproj


.quarto/
*/_cache/
*/_freeze/
*_files/
!docs/mp02_files/figure-html/

data/
**/*.csv
**/*.tsv
**/*.xlsx
**/*.json
**/*.rds
**/*.zip
**/*.pdf



.DS_Store
**/gganim*


/Labs and Preassignments/

/.quarto/